<html>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .menu {
        background-color: #42847D;
    }

    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .menu ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .menu ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .menu ul li a:hover {
        transform: translateY(3px);
        background-color: #00352F;
    }
    body{
        background: linear-gradient(#4D706C, #384B49);
    }


    /* FORMULARIOS */
    .pregunta {

        text-align: center;
        box-shadow: 10px 5px 5px #0D4F48;
        width: 100%;


    }

    .encuesta {
        display: inline-block;
        float: right;
        background-color: #42847D;
        box-shadow: 10px 5px 5px #00352F;
        border-radius: 4px;
        display: block;
        width: 300px;
        margin: 2%;
        padding: 2%;

    }

    .encuesta input {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .encuesta form {

        max-width: 500px;
        margin: 0 auto;
        margin-top: 10px;
        
    }

    .encuesta textarea {
        width: 300px;
        height: 150px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        /* Evita que el usuario pueda redimensionar el textarea */
    }

    .encuesta textarea p {
        text-align: center;
    }

    /* .texto con texto principal pagina */
.texto {
    display: block; /*Cambiamos a  block para que los elementos dentro del div (el párrafo y la imagen) se coloquen uno debajo del otro en lugar de alinearse en fila. */
    width: 65%;
    margin: 2%;
    padding: 2%;
    border: 1px solid #42847D;
    border-radius: 5px;
}

.texto p {
    margin-bottom: 20px; /* Añadido margen inferior para separar el texto de la imagen */
}
.texto h1{
    text-align: center;
    
}

#medioambiente {
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto; /* Centra la imagen */
}
</style>

</html>